<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" href="{{url_for('static', filename='script.js')}}"></script>
	</head>
	<body>
		<p>WELCOME TO THE DOJOS PAGE FILL OUT THE FORM</p>
		<form action =''>
		  First name:<br>
		  <input type="text" name="firstname"><br>
		  Last name:<br>
		  <input type="text" name="lastname">
		</form>
		<a href="/">Press for Landing Page</a>
		<a href="/ninjas">Press for Ninjas Page</a>
	</body>
</html>